<%- include('./partials/head') %>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>

    <body>
        <%- include('./partials/header') %>

            <main>
                <div class="contenido">
                    <h3>Listado de usuarios</h3>
                    <% usuarios.forEach(usuario=> { %>
                        <a href="/user/<%= usuario.id %>" class="listaDeUsuarios">
                            click para ver perfil de: <%= usuario.usuario %>
                        </a>
                        <form action="/user/delete/<%= usuario.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="boton-borrar">Eliminar</button>
                        </form>
                        <% }); %>
                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

    </html>