<%- include('./partials/head') %>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    </head>

    <body>
        <%- include('./partials/header') %>

            <main>

                <div class="card">
                    <form action="/user/login" method="POST">
                        <h2>Iniciar sesión</h2>
                        <div class="input-group-1">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" required>
                            <% if (locals.errors && errors.email) { %>
                                <div>
                                    <%= errors.email.msg %>
                                </div>
                                <% } %>
                        </div>
                        <div class="input-group-1">
                            <label for="contrasena">Contraseña</label>
                            <input type="password" id="contrasena" name="contrasena" required>
                            <% if (locals.errors && errors.contrasena) { %>
                                <div>
                                    <%= errors.contrasena.msg %>
                                </div>
                                <% } %>
                        </div>
                        <div class="input-group-2">
                            <label for="olvido">Olvidé mi contraseña</label>
                            <input type="checkbox" id="olvido" name="olvido">
                        </div>
                        <div class="input-group-2">
                            <label for="recuerdame">Recuerdame</label>
                            <input type="checkbox" id="recuerdame" name="recuerdame">
                        </div>
                        <button type="submit">Login</button>
                        <div class="social-buttons">
                            <button type="button" class="google-btn"><i class="fab fa-google"></i> Iniciar sesión con
                                Google</button>
                            <button type="button" class="facebook-btn"><i class="fab fa-facebook-f"></i> Iniciar sesión
                                con
                                Facebook</button>
                        </div>
                    </form>
                </div>
            </main>
    </body>
    <%- include('./partials/footer') %>

        </html>