<%- include('./partials/head') %>
    <link rel="stylesheet" type="text/css" href="/css/productDetail.css">
    </head>

    <body>
        <%- include('./partials/header') %>

        <main>
            <h3><%= pelicula?.titulo %></h3>
            <a class="boton-editar" href="/edit/<%= pelicula?.id %>">Editar</a>
            <form action="/borrar/<%= pelicula?.id %>" method="POST">
                <button type="submit" class="boton-borrar">Eliminar</button>
            </form>
            <div class="portada-pelicula">
                <iframe width="100%" height="100%" src= '<%= pelicula?.trailer %>' frameborder="0" allowfullscreen></iframe>
            </div>
    
            <div class="container">
                <div class="card-sinopsis">
                    <button>Sinopsis</button>
                    <button>Datos tecnicos</button> 
                    <p><%= pelicula?.descripcion %></p>
                </div>
    
                <div class="form-container">
                    <div class="form-column">
                        <div class="form-group">
                            <label for="salas">Salas:</label>
                            <select id="salas" name="salas">
                                <option value="sala1">Sala 1</option>
                                <option value="sala2">Sala 2</option>
                                <option value="sala3">Sala 3</option>
                                <option value="sala4">Sala 4</option>
                                <option value="sala5">Sala 5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="idioma">Idioma:</label>
                            <select id="idioma" name="idioma">
                                <option value="espanol">Español Latino</option>
                                <option value="ingles">Inglés Subtitulado</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="form-group">
                            <label for="formato">Formato:</label>
                            <select id="formato" name="formato">
                                <option value="2D">2D</option>
                                <option value="3D">3D</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="fecha">Fecha:</label>
                            <input type="date" id="fecha" name="fecha">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Reservar">
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <%- include('./partials/footer') %>
</html>